/*
Leap Day for GitHub Pages
by Matt Graham
*/
.backcolor_0 {background-color:#FFFFFF;}
.color_1 {color:#FFFFFF;}
.backcolor_1 {background-color:#FFFFFF;}
.color_2 {color:#000000;}
.backcolor_2 {background-color:#000000;}
.color_3 {color:#ED1C24;}
.backcolor_3 {background-color:#ED1C24;}
.color_4 {color:#0088CB;}
.backcolor_4 {background-color:#0088CB;}
.color_5 {color:#FFCB05;}
.backcolor_5 {background-color:#FFCB05;}
.color_6 {color:#727272;}
.backcolor_6 {background-color:#727272;}
.color_7 {color:#B0B0B0;}
.backcolor_7 {background-color:#B0B0B0;}
.color_8 {color:#FFFFFF;}
.backcolor_8 {background-color:#FFFFFF;}
.color_9 {color:#727272;}
.backcolor_9 {background-color:#727272;}
.color_10 {color:#B0B0B0;}
.backcolor_10 {background-color:#B0B0B0;}
.color_11 {color:#FFFFFF;}
.backcolor_11 {background-color:#FFFFFF;}
.color_12 {color:#F3F3F3;}
.backcolor_12 {background-color:#F3F3F3;}
.color_13 {color:#D9D9D9;}
.backcolor_13 {background-color:#D9D9D9;}
.color_14 {color:#717070;}
.backcolor_14 {background-color:#717070;}
.color_15 {color:#000000;}
.backcolor_15 {background-color:#000000;}
.color_16 {color:#FEF0AB;}
.backcolor_16 {background-color:#FEF0AB;}
.color_17 {color:rgba(252,211,7,1);}
.backcolor_17 {background-color:rgba(252,211,7,1);}
.color_18 {color:#DDB40D;}
.backcolor_18 {background-color:#DDB40D;}
.color_19 {color:#A88D05;}
.backcolor_19 {background-color:#A88D05;}
.color_20 {color:#544602;}
.backcolor_20 {background-color:#544602;}
.color_21 {color:#FCB5B5;}
.backcolor_21 {background-color:#FCB5B5;}
.color_22 {color:#FA9090;}
.backcolor_22 {background-color:#FA9090;}
.color_23 {color:#F72525;}
.backcolor_23 {background-color:#F72525;}
.color_24 {color:#A51919;}
.backcolor_24 {background-color:#A51919;}
.color_25 {color:#520C0C;}
.backcolor_25 {background-color:#520C0C;}
.color_26 {color:#E3D6B4;}
.backcolor_26 {background-color:#E3D6B4;}
.color_27 {color:#C8B890;}
.backcolor_27 {background-color:#C8B890;}
.color_28 {color:#AC9865;}
.backcolor_28 {background-color:#AC9865;}
.color_29 {color:#916F18;}
.backcolor_29 {background-color:#916F18;}
.color_30 {color:#48370C;}
.backcolor_30 {background-color:#48370C;}
.color_31 {color:#A7DEA0;}
.backcolor_31 {background-color:#A7DEA0;}
.color_32 {color:#77BE6E;}
.backcolor_32 {background-color:#77BE6E;}
.color_33 {color:#289E19;}
.backcolor_33 {background-color:#289E19;}
.color_34 {color:#1B6910;}
.backcolor_34 {background-color:#1B6910;}
.color_35 {color:#0D3408;}
.backcolor_35 {background-color:#0D3408;}</style><style type="text/css" data-reactid=".0.0.$s0">.s0screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0[data-state~="mobileView"] {position:absolute !important;}
.s0[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s0[data-state~="fixedPosition"].s0_footer {top:auto;bottom:0;}
.s0_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 1);  border-top:0px solid rgba(0, 0, 0, 1);border-bottom:0px solid rgba(0, 0, 0, 1);}
.s0[data-state~="mobileView"] .s0bg {left:10px;right:10px;}
.s0bg {position:absolute;top:0px;right:0;bottom:0px;left:0;background-color:rgba(255, 255, 255, 1);border-radius:0;}
.s0inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s1">.s1 {word-wrap:break-word;}
.s1 li {color:inherit;font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.s1 ol,.s1 ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.s1 ul {list-style-type:disc;}
.s1 ol {list-style-type:decimal;}
.s1 ul ul,.s1 ol ul {list-style-type:circle;}
.s1 ul ul ul,.s1 ol ul ul {list-style-type:square;}
.s1 ul ol ul,.s1 ol ol ul {list-style-type:square;}
.s1 ul[dir="rtl"],.s1 ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 ul[dir="rtl"] ul,.s1 ul[dir="rtl"] ol,.s1 ol[dir="rtl"] ul,.s1 ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s1 p {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h1 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h2 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h3 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h4 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h5 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 h6 {margin:0;line-height:normal;letter-spacing:normal;}
.s1 a {color:inherit;}</style><style type="text/css" data-reactid=".0.0.$s2">.s2itemsContainer {position:absolute;width:100%;height:100%;white-space:nowrap;}
.s2itemsContainer > div:last-child {margin:0 !important;}
.s2[data-state~="mobileView"] .s2itemsContainer {position:absolute;width:100%;height:100%;white-space:normal;}
.s2imageItemlink {cursor:pointer;}
.s2imageItemimageimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s2imageItemimage[data-state~="loading"] .s2imageItemimageimage {background:url(//static.parastorage.com/services/skins/2.1113.24/images/wysiwyg/core/themes/editor_web/gif_preloader.gif) center no-repeat;}</style><style type="text/css" data-reactid=".0.0.$s3">.s3itemsContainer {width:-webkit-calc(100% - 0px);width:calc(100% - 0px);white-space:nowrap;position:relative;overflow:hidden;}
.s3moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.s3dropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;}
.s3dropWrapper[data-dropMode="dropUp"] {margin-top:0;margin-bottom:7px;}
.s3repeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;cursor:pointer;font:normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;}
.s3repeaterButton[data-state~="header"] a,.s3repeaterButton[data-state~="header"] div {cursor:default !important;}
.s3repeaterButton_gapper {padding:0 5px;}
.s3repeaterButtonlabel {display:inline-block;padding:0 10px;color:#000000;transition: color 0.4s ease 0s;}
.s3repeaterButton[data-state~="drop"] {width:100%;display:block;}
.s3repeaterButton[data-state~="drop"] .s3repeaterButtonlabel {padding:0 .5em;}
.s3repeaterButton[data-state~="over"] .s3repeaterButtonlabel {color:#FCD307;transition: color 0.4s ease 0s;}
.s3repeaterButton[data-state~="selected"] .s3repeaterButtonlabel {color:#FCD307;transition: color 0.4s ease 0s;}</style><style type="text/css" data-reactid=".0.0.$s4">.s4screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s4[data-state~="mobileView"] {position:absolute !important;}
.s4[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s4[data-state~="fixedPosition"].s4_footer {top:auto;bottom:0;}
.s4_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:transparent;  border-top:0px solid rgba(0, 0, 0, 1);border-bottom:0px solid rgba(0, 0, 0, 1);}
.s4[data-state~="mobileView"] .s4bg {left:10px;right:10px;}
.s4bg {position:absolute;top:0px;right:0;bottom:0px;left:0;background-color:rgba(255, 255, 255, 1);border-radius:0;}
.s4inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s4centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s5">.s5screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5[data-state~="mobileView"] {position:absolute !important;}
.s5[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s5[data-state~="fixedPosition"].s5_footer {top:auto;bottom:0;}
.s5bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s6">.s6 {height:100px;width:100px;}
.s6overlay {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.664);}
.s6inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s7">.s7bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s7[data-state~="mobileView"] .s7bg {left:10px;right:10px;}
.s7inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s8">.s8inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s10">.s10wrapper {min-width:180px;max-width:980px;max-height:1024px;position:absolute;width:100%;}
.s10 li {box-sizing:border-box;position:relative;}
.s10 ul {box-sizing:border-box;position:relative;}
.s10_foot {min-height:50px;position:relative;}
.s10 span {color:#2A2A2A;font:normal 14px 'Helvetica Neue', Helvetica, sans-serif;position:absolute;top:0;}
.s10 span.s10_success {color:#68B04D;}
.s10 span.s10_error {color:#E21C21;}
.s10 button,.s10 input,.s10 textarea {box-sizing:border-box;border-radius:0;  }
.s10 input,.s10 textarea {background-color:rgba(255, 255, 255, 1);font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;  -webkit-appearance:none;-moz-appearance:none;border:0px solid rgba(252, 211, 7, 1);color:#2A2A2A;margin:0 0 5px;padding:5px;width:100%;}
.s10 input.s10_error,.s10 textarea.s10_error {border:1px solid #E21C21;color:#E21C21;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 textarea {height:100%;resize:none;}
.s10 button {border:0;color:#FFFFFF;cursor:pointer;background-color:rgba(252, 211, 7, 1);font:italic normal 700 16px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;  padding:5px;position:absolute;top:0;}
.s10[data-state~="desktop"] li {width:50%;}
.s10[data-state~="desktop"].s10[data-state~="left"] li.s10_left {margin:0;}
.s10[data-state~="desktop"].s10[data-state~="left"] li.s10_right {bottom:0;padding:0 0 5px 5px;position:absolute;right:2px;top:0;}
.s10[data-state~="desktop"].s10[data-state~="right"] li.s10_left {margin-left:50%;}
.s10[data-state~="desktop"].s10[data-state~="right"] li.s10_right {bottom:0;left:2px;padding:0 5px 5px 0;position:absolute;top:0;}
.s10[data-state~="mobile"] li {display:block;width:100%;}
.s10[data-state~="mobile"] input,.s10[data-state~="mobile"] textarea {font-size:16px;}
.s10[data-state~="mobile"] input::-webkit-input-placeholder,.s10[data-state~="mobile"] textarea::-webkit-input-placeholder {line-height:45px;font-size:16px;}
.s10[data-state~="mobile"] input::-moz-placeholder,.s10[data-state~="mobile"] textarea::-moz-placeholder {line-height:45px;font-size:16px;}
.s10[data-state~="mobile"] input:-ms-input-placeholder,.s10[data-state~="mobile"] textarea:-ms-input-placeholder {line-height:45px;font-size:16px;}
.s10[data-state~="mobile"] input::placeholder,.s10[data-state~="mobile"] textarea::placeholder {line-height:45px;font-size:16px;}
.s10[data-state~="mobile"] input {height:45px;line-height:45px;margin-bottom:15px;}
.s10[data-state~="mobile"] textarea {height:130px;}
.s10 input::-webkit-input-placeholder,.s10 textarea::-webkit-input-placeholder {color:#717070;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input::-moz-placeholder,.s10 textarea::-moz-placeholder {color:#717070;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input:-ms-input-placeholder,.s10 textarea:-ms-input-placeholder {color:#717070;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input::placeholder,.s10 textarea::placeholder {color:#717070;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input::-webkit-input-placeholder.s10_error,.s10 textarea::-webkit-input-placeholder.s10_error {color:#E21C21;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input::-moz-placeholder.s10_error,.s10 textarea::-moz-placeholder.s10_error {color:#E21C21;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input:-ms-input-placeholder.s10_error,.s10 textarea:-ms-input-placeholder.s10_error {color:#E21C21;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10 input::placeholder.s10_error,.s10 textarea::placeholder.s10_error {color:#E21C21;font:italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;}
.s10[data-state~="right"] {direction:rtl;text-align:right;}
.s10[data-state~="right"] button {left:0;}
.s10[data-state~="right"] span {left:100px;right:0;}
.s10[data-state~="left"] {direction:ltr;text-align:left;}
.s10[data-state~="left"] button {right:0;}
.s10[data-state~="left"] span {left:0;right:100px;}
.s10_hidden {display:none !important;}</style><style type="text/css" data-reactid=".0.0.$s11">.s11 {border-bottom:2px solid rgba(255, 255, 255, 1);height:0 !important;min-height:0 !important;}</style><style type="text/css" data-reactid=".0.0.$s12">.s12[data-state~="squared"],.s12[data-state~="squared"] .s12mapContainer {border-radius:0;}
.s12mapContainer {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-reactid=".0.0.$s13">.s13_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s13_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s13link {display:block;overflow:hidden;}
.s13imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s13img[data-state~="loading"] .s13imgimage {background:url("//static.parastorage.com/services/skins/2.1113.24/images/wysiwyg/core/themes/editor_web//gif_preloader.gif") center no-repeat;}</style><style type="text/css" data-reactid=".0.0.$s14">.s14_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s14_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s14link {display:block;overflow:hidden;}
.s14imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s14img[data-state~="loading"] .s14imgimage {background:url("//static.parastorage.com/services/skins/2.1113.24/images/wysiwyg/core/themes/editor_web//gif_preloader.gif") center no-repeat;}</style><style type="text/css" data-reactid=".0.0.$s16">.s16 {pointer-events:none;}
.s16:.s16_ie10 {max-width:0;max-height:0;}
.s16inlineContent {pointer-events:all;}</style><style type="text/css" data-reactid=".0.0.$s17">.s17link {border-radius:0;  position:absolute;top:0;right:0;bottom:0;left:0;background-color:transparent;transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;    border:solid rgba(255, 255, 255, 1) 2px;cursor:pointer !important;}
.s17label {font:normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;  transition: color 0.4s ease 0s;  color:#FFFFFF;display:inline-block;margin:-webkit-calc(-1 * 2px) 2px 0;margin:calc(-1 * 2px) 2px 0;position:relative;white-space:nowrap;}
.s17:active[data-state~="mobile"] .s17link,.s17:hover[data-state~="desktop"] .s17link {background-color:rgba(0, 0, 0, 1);border-color:rgba(252, 211, 7, 1);transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;}
.s17:active[data-state~="mobile"] .s17label,.s17:hover[data-state~="desktop"] .s17label {color:#FCD307;transition: color 0.4s ease 0s;}</style><style type="text/css" data-reactid=".0.0.$s19">.s19_zoomedin {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.s19_zoomedout {cursor:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.s19link {display:block;overflow:hidden;}
.s19imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s19img[data-state~="loading"] .s19imgimage {background:url("//static.parastorage.com/services/skins/2.1113.24/images/wysiwyg/core/themes/editor_web//gif_preloader.gif") center no-repeat;}</style><style type="text/css" data-reactid=".0.0.$s21">.s21 {visibility:hidden;}</style><style type="text/css" data-reactid=".0.0.$wixAds">.wixAdsmobileAd {width:100%;height:30px;position:relative;display:block;text-align:center;background-image:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/BG91x1.jpg);background-repeat:repeat;background-size:100% 30px;z-index:999;}
.wixAdsdesktopWADBottom {position:fixed;z-index:999;width:100%;bottom:0;}
.wixAdsdesktopWADBottomContent {width:100%;height:40px;text-align:center;background-color:#404040;border-radius:6px 6px 0 0;pointer-events:all;cursor:pointer;}
.wixAdsdesktopWADBottomContent:hover {background-color:#222;}
.wixAds[data-state~="facebook"] .wixAdsdesktopWADBottomContent {width:500px;margin:0 auto;}
.wixAdsdesktopWADTop {position:fixed;z-index:999;height:26px;top:0;right:50px;overflow:hidden;background-color:#404040;border-radius:0 0 6px 6px;pointer-events:all;cursor:pointer;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.wixAdsdesktopWADTop:hover {height:97px;background-color:rgba(50, 50, 50, 0.8);}
.wixAdsdesktopWADTop:hover .wixAdsdesktopWADTopLabel {background-color:#222;}
.wixAdsdesktopWADTopLabel {padding:6px;font-size:13px;line-height:1.3em;color:#FFF;width:100%;font-size:13px;color:#FFF;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;}
.wixAds[data-state~="desktop"] .wixAdsmobileAd {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopWADTop {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopWADBottom {display:none;}
.wixAdsdesktopWADTopLabel .wixAds_smallMusa {display:inline-block;text-indent:-9999px;width:16px;height:16px;margin-right:5px;background-image:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:0% 0%;}
.wixAdsdesktopWADTopLabel .wixAds_smallLogo {display:inline-block;text-indent:-9999px;width:29px;height:16px;background-image:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:-16px top;}
.wixAdsdesktopWADTopContent {font-size:13px;line-height:1.3em;color:#ffffff;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;width:100%;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner {background-color:rgba(64, 64, 64, 1);width:500px;height:100%;margin:0 auto;border-radius:6px 6px 0 0;  padding:5px 0 0 0;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner div {display:inline-block;height:30px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;text-align:justify;margin:-2px 10px 0 19px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_logoDot {position:static;margin:0 3px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_emphasis {font-weight:bold;position:relative;top:-6px;}
.wixAdsdesktopWADTopContent .wixAds_spacer {line-height:26px;}
.wixAdsdesktopWADTopContent .wixAds_emphasis {color:#ffcc00;}
.wixAdsdesktopWADTopContent .wixAds_cap {font-size:16px;line-height:1.3em;text-transform:uppercase;}
.wixAdsdesktopWADTopContent .wixAds_face {display:block;line-height:18px;text-align:justify;padding:0 20px;width:120px;}
.wixAdsdesktopWADBottomContent .wixAds_adFootBox {height:40px;width:100%;text-align:center;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner {background-color:rgba(64, 64, 64, 1);border-radius:6px 6px 0 0;  width:100%;height:100%;text-align:center;}
.wixAdsdesktopWADBottomContent:hover .wixAds_siteBanner {background-color:#222;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper {padding:5px 0;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper div {display:inline-block;height:30px;}
.wixAdsdesktopWADBottomContent .wixAds_bigMusa {text-indent:-9999px;width:36px;background-image:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:left bottom;position:relative;top:-19px;}
.wixAdsdesktopWADBottomContent.wixAds_nativeAndroid .wixAds_bigMusa {overflow:hidden;}
.wixAdsdesktopWADBottomContent .wixAds_logoDot {text-indent:-9999px;width:39px;height:15px;position:relative;top:-4px;margin:0 5px;background-image:url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);background-repeat:no-repeat;background-position:right -17px;}
.wixAdsdesktopWADBottomContent .wixAds_emphasis {color:#ffcc00;font-size:16px;text-transform:uppercase;}
.wixAdsdesktopWADBottomContent .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_txt {line-height:47px;}@media (orientation: landscape){.wixAdsmobileAd {display:none;}}
@media (orientation: landscape){.wixAds_wixAds[data-state~="mobile"] {display:none;}}</style><style type="text/css" data-reactid=".0.0.$deadComp">.deadComp {background:transparent;}</style><style type="text/css" data-reactid=".0.0.$siteBackground">.siteBackground {width:100%;position:absolute;}
.siteBackgroundbgBeforeTransition {position:absolute;top:0;}
.siteBackgroundbgAfterTransition {position:absolute;top:0;}</style><style type="text/css" data-reactid=".0.0.$loginDialog">.loginDialog {position:fixed;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;}
.loginDialogblockingLayer {background-color:rgba(85, 85, 85, 0.75);position:fixed;top:0;right:0;bottom:0;left:0;visibility:visible;zoom:1;overflow:auto;}
.loginDialogdialog {background-color:rgba(170, 170, 170, 0.7);width:455px;position:fixed;padding:20px;}
.loginDialog_wrapper {background-color:rgba(255, 255, 255, 1);padding:45px 40px 0 40px;}
.loginDialogxButton {position:absolute;top:-14px;right:-14px;cursor:pointer;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) no-repeat right top;height:30px;width:30px;}
.loginDialogxButton:hover {background-position:right -80px;}
.loginDialogheader {padding-bottom:25px;line-height:30px;}
.loginDialogfavIcon {float:left;margin:7px 7px 0 0;width:16px;height:16px;}
.loginDialogtitle {font-size:20px;font-weight:bold;color:#555555;}
.loginDialog[data-state~="mobile"] {position:absolute;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;top:0;}
.loginDialog[data-state~="mobile"] .loginDialogheader {padding-bottom:10px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {display:none;}
.loginDialog[data-state~="mobile"] .loginDialogtitle {font-size:14px;}
.loginDialog[data-state~="mobile"] .loginDialogdialog {width:260px;padding:10px;position:absolute;}
.loginDialog[data-state~="mobile"] .loginDialog_footer {margin-top:0;padding-bottom:10px;}
.loginDialog[data-state~="mobile"] .loginDialogcancel {font-size:14px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {padding:14px 12px 0 12px;}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {height:30px;width:100px;font-size:14px;}
.loginDialog_forgot {text-align:left;font-size:12px;}
.loginDialog_forgot a {color:#0198ff;border-bottom:1px solid #0198ff;}
.loginDialog_forgot a:hover {color:#0044ff;border-bottom:1px solid #0044ff;}
.loginDialog_error {font-size:12px;color:#d74401;text-align:right;}
.loginDialog_footer {width:100%;margin-top:27px;padding-bottom:40px;}
.loginDialogcancel {color:#9C9C9C;font-size:18px;text-decoration:underline;line-height:36px;}
.loginDialogcancel:hover {color:#9c3c3c;}
.loginDialogpasswordInput label {font-size:14px;}
.loginDialogpasswordInput label[data-type="password"] {font-size:14px;line-height:30px;height:30px;}
.loginDialogsubmitButton {float:right;cursor:pointer;border:solid 2px #0064a8;height:36px;width:143px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -252px;color:#ffffff;font-size:24px;font-weight:bold;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);}
.loginDialogsubmitButton:hover {background-position:right -352px;border-color:#004286;}
.loginDialog[data-state="normal"] .loginDialogerror {display:none;}
.loginDialog[data-state="error"] .loginDialogerror {display:block;font-size:12px;color:#d74401;text-align:right;}
.loginDialog[data-state="error"] .loginDialogpasswordInput {border-color:#d74401;}
.loginDialogpasswordInput {font-size:1em;}
.loginDialogpasswordInput label {float:none;font-size:17px;line-height:25px;color:#585858;}
.loginDialogpasswordInput[data-state~="mobile"] label {float:none;font-size:14px;line-height:20px;color:#585858;}
.loginDialogpasswordInputinput {padding:0 15px;width:100%;height:42px;font-size:19px;line-height:42px;color:#0198ff;margin:0 -3px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {padding:0 15px;width:100%;height:30px;font-size:14px;line-height:30px;color:#0198ff;margin:0 -3px;background:transparent url(//static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInputinput[data-type="password"] {font-size:38px;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {font-size:14px;}
.loginDialogpasswordInputerrorMessage {display:block;font-size:12px;color:#d74401;text-align:right;height:15px;}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {visibility:hidden;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {visibility:visible;}
.loginDialogpasswordInput[data-state~="invalid"] input {border-color:#d74401;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {border-color:red;}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-bold-webfont.eot");
  src: url("../fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bold-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bold-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bold-webfont.svg#QuattrocentoSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-bolditalic-webfont.eot");
  src: url("../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bolditalic-webfont.svg#QuattrocentoSansBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-italic-webfont.eot");
  src: url("../fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-italic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-italic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-italic-webfont.svg#QuattrocentoSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-regular-webfont.eot");
  src: url("../fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("../fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Copse';
  src: url("../fonts/copse-regular-webfont.eot");
  src: url("../fonts/copse-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/copse-regular-webfont.woff") format("woff"), url("../fonts/copse-regular-webfont.ttf") format("truetype"), url("../fonts/copse-regular-webfont.svg#CopseRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* normalize.css 2012-02-07T12:37 UTC - https://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: url(../images/body-background.png) #eae6d1;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: #393939;
}

h3, h4, h5, h6 {
  color: #666666;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #3399cc;
  font-weight: 400;
  text-decoration: none;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
}

strong {
  font-weight: bold;
  color: #333;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 13px;
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0 4px;
  padding: 2px 6px;
  background: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

pre {
  padding: 8px 15px;
  background: #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;
}
pre code {
  margin: 0px;
  padding: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #ffcc00;
}
td:first-child {
  border-left: 1px solid #ffcc00;
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #444;
  font-weight: 700;
}

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;
}
header h1 {
  font: 40px/48px "Copse", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}

#banner {
  z-index: 100;
  left: 0;
  right: 50%;
  height: 50px;
  margin-right: -382px;
  position: fixed;
  top: 115px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
  -o-border-radius: 0px 2px 2px 0px;
  -ms-border-radius: 0px 2px 2px 0px;
  -khtml-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;
}
#banner .button {
  border: 1px solid #dba500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffce38));
  background: -webkit-linear-gradient(#ffe788, #ffce38);
  background: -moz-linear-gradient(#ffe788, #ffce38);
  background: -o-linear-gradient(#ffe788, #ffce38);
  background: -ms-linear-gradient(#ffe788, #ffce38);
  background: linear-gradient(#ffe788, #ffce38);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  margin-left: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
#banner .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffe788));
  background: -webkit-linear-gradient(#ffe788, #ffe788);
  background: -moz-linear-gradient(#ffe788, #ffe788);
  background: -o-linear-gradient(#ffe788, #ffe788);
  background: -ms-linear-gradient(#ffe788, #ffe788);
  background: linear-gradient(#ffe788, #ffe788);
  background-color: #ffeca0;
}
#banner .fork {
  position: fixed;
  left: 50%;
  margin-left: -325px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  background-color: #FFE788;
}
#banner .downloads {
  float: right;
  margin: 0 45px 0 0;
}
#banner .downloads span {
  float: left;
  line-height: 52px;
  font-size: 90%;
  color: #9d7f0d;
  text-transform: uppercase;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
#banner ul {
  list-style: none;
  height: 40px;
  padding: 0;
  float: left;
  margin-left: 10px;
}
#banner ul li {
  display: inline;
}
#banner ul li a.button {
  background-color: #FFE788;
}
#banner #logo {
  position: absolute;
  height: 36px;
  width: 36px;
  right: 7px;
  top: 7px;
  display: block;
  background: url(../images/octocat-logo.png);
}

section {
  width: 590px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position: relative;
  background: #fbfbfb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

small {
  font-size: 12px;
}

nav {
  width: 230px;
  position: fixed;
  top: 220px;
  left: 50%;
  margin-left: -580px;
  text-align: right;
}
nav ul {
  list-style: none;
  list-style-image: none;
  font-size: 14px;
  line-height: 24px;
}
nav ul li {
  padding: 5px 0px;
  line-height: 16px;
}
nav ul li.tag-h1 {
  font-size: 1.2em;
}
nav ul li.tag-h1 a {
  font-weight: bold;
  color: #333;
}
nav ul li.tag-h2 + .tag-h1 {
  margin-top: 10px;
}
nav ul a {
  color: #666;
}
nav ul a:hover {
  color: #999;
}

footer {
  width: 180px;
  position: fixed;
  left: 50%;
  margin-left: -530px;
  bottom: 20px;
  text-align: right;
  line-height: 16px;
}

@media print, screen and (max-width: 1060px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  nav {
    display: none;
  }

  header, section, footer {
    float: none;
  }
  header h1, section h1, footer h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  #banner {
    width: 100%;
  }
  #banner .downloads {
    margin-right: 60px;
  }
  #banner #logo {
    margin-right: 15px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 190px auto 20px;
    max-width: 600px;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 20px 20px;
    margin: 0;
  }
  header h1 {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  header p {
    display: none;
  }

  #banner {
    top: 80px;
  }
  #banner .fork {
    float: left;
    display: inline-block;
    margin-left: 0px;
    position: fixed;
    left: 20px;
  }

  section {
    margin-top: 130px;
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position: static;
  }
}
@media print, screen and (max-width: 480px) {
  header {
    position: relative;
    padding: 5px 0px;
    min-height: 0px;
  }
  header h1 {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  section {
    margin-top: 5px;
  }

  #banner {
    display: none;
  }

  header ul {
    display: none;
  }
}
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
@media print, screen and (max-height: 680px) {
  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
